.box-projects {
    background-color: #7555EE;
    height: 90vh;
    align-self: center;
    border-radius: 2%;
    position: relative;

}

.box-projects._secondP {
    background-color: #06395c;
}

.box-projects._thirdP {
    background-color: #026697;
}

.box-projects .second-title._projects._project1, .second-title._projects._project2 {
    text-align: center;
    color: #000;
    opacity: 30%;
    margin-top: 1rem;
}

.box-projects .main-text._project1 {
    margin-top: 3rem;
    margin-right: 3rem;
    font-size: 2.5rem;
    color: #fff;
}

.box-projects .main-text._project2 {
    color: #000;
    font-size: 2.5rem;
    margin: 0 0 3rem 5rem;
    width: 70rem;
}

.box-projects .main-image._project1 {
    margin: 3rem 5rem;
}

.box-projects .main-image._project2 {
    margin: 3rem 5rem;
    width: 60rem;
    height: 30rem;
}

.box-projects .main-image._project1:last-child {
    margin: 0;
    height: 20rem;
    position: absolute;
    right: 35px;
}

.box-projects .wrapper-img-text{
    display: flex;
}