.main-header {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    background-color: #0D0D0D;
    align-items: center;
    position: sticky;
    top: -15px;
    z-index: 3;
}

.main-header .main-nav {
    justify-self: center;
}