.main-menu {
    display: none;
    width: 50px;
    position: absolute;
    right: 35px;
    top: 23px;
    opacity: 100%;
    z-index: 10;
    cursor: pointer;
}

.main-menu:hover {
    opacity: 60%;
}

.main-menu .menu-bar.one, .main-menu .menu-bar.two, .main-menu .menu-bar.three{
    background-color: #fff;
    width: 60px;
    height: 4px;
    margin-bottom: 8px;
    transition: 1s;
}

.main-menu.on .menu-bar.one {
    transform: rotate(45deg) translate(7px, 7px);
}

.main-menu.on .menu-bar.two {
    display: none;
}

.main-menu.on .menu-bar.three {
    transform: rotate(-45deg);
}


