.main-input {
    display: flex;
    background-color: #fff;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
    border: none;
    border-radius: 21px;
    width: 408px;
    height: 43px;
    font: 20px "Raleway", sans-serif;
    padding: 0px 15px;
    
}

.main-input._msg {
    border-radius: 30px;
    height: 302px;
    resize: none;
}

.main-input:focus {
    background-color: #dfd8f7;
}