.main-arrow {
    box-sizing: border-box;
    border-left: 3px solid #fff;
    border-bottom: 3px solid #fff; 
    width: 40px;
    height: 40px;
    position: absolute;
    opacity: 60%;
    top: 47%;
    z-index: 1;
}

.main-arrow:hover {
    opacity: 100%;
}

.main-arrow._left {
    transform: rotate(45deg);
    left: 40px;
    box-shadow: -2px 3px 2px rgba(0, 0, 0, 0.534);
}

.main-arrow._right {
    transform: rotate(-135deg);
    right: 40px;
    box-shadow: -2px 3px 2px rgba(0, 0, 0, 0.534);
}