.main-action {
    font-family: "Merriweather Sans";
    font-size: 18px;
    font-weight: normal;
    text-decoration: none;
    color: #fff;
    margin-right: 43px;
}

.main-action:hover{
    color: #7D5CF2;
}

.main-action._contact {
    background-color: #7D5CF2;
    margin: 0;
    padding: 5px 14px;
    border-radius: 20px;
}

.main-action._contact:hover {
    color: #000;
}