.main-form {
    display: flex;
    flex-direction: column;
    background: linear-gradient(153.14deg, #7D5CF2 -3.89%, #282140 117.69%);
    border-radius: 20px;
    box-shadow: 5px 5px 5px #000;
    
    width: 48.8rem;
    max-width: 488px;
    height: 67.2rem;
    max-height: 67.2rem;

    align-items: center;
    justify-content: center;
}