.main-title {
    font-family: "Merriweather Sans";
    font-weight: 800;
    font-size: 144px;
}

.main-title._degrade{
    color: rgb(23, 6, 27);
    background: linear-gradient(#282140, #3F3954);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: 2;
}

