.project-one {
    display: flex;
    width: 80%;
    height: 70%;
    position: relative;
    overflow: hidden;
}

.project-one .desc-project {
    padding: 30px;
    max-width: 600px;
    background-color: #ffffff;
    opacity: 50%;
    position: absolute;
    right: 0;
    top: calc(50% - 100px);
}


.project-one .arrow-project {
    float: right;
}

.desc-project h1 {
    font: 2rem "Merriweather Sans";
    color: #000;
}


.desc-project p, .alt-desc p {
    font: 1.8rem "Raleway", sans-serif;
    color: #000;
}

.image-project {
    width: 100%;
    height: 100%;
}


.project-two {
    display: none;
    width: 80%;
    height: 70%;
    position: relative;
    overflow: hidden;
}

.project-two .desc-project .arrow-slide-top {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 30px;
    transition: .9s;
}

.project-two .desc-project {
    background-color: #ffffff;
    opacity: 50%;
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 30px;
    transform: translateY(130px);
    transition: .8s;
}

.project-two .desc-project:hover {
    transform: translateY(0);
}

.project-two .desc-project:hover .arrow-slide-top {
    transform: rotate(180deg);
}

.project-two h1, .project-two p {
    text-align: center;
}

.project-two a {
    text-decoration: none;
    font: 1.8rem "Raleway", sans-serif;
    float: right;
}


.project-three {
    display: none;
    width: 80%;
    height: 70%;
    position: relative;
    overflow: hidden;
}

.project-three .desc-project {
    background-color: #000;
    opacity: 60%;
    max-width: 500px;
    position: absolute;
    bottom: 0;
    padding: 30px;
}

.project-three .alt-desc {
    background-color: #000;
    opacity: 60%;
    max-width: 400px;
    position: absolute;
    right: 0;
    top: 150px;
    padding: 30px;
}

.project-three .desc-project p, .desc-project h1, .alt-desc p {
    color: #fff;
}

.project-three .desc-project h1 {
    text-align: center;
}

.project-three a {
    text-decoration: none;
    font: 1.8rem "Raleway", sans-serif;
    color: #5C4D42;
    float: right;
}

.project-three a:hover {
    color: rgb(127, 112, 255);
}


