.second-title {
    font: 144px "Raleway", sans-serif;
    color: #fff;
    font-style: bold;
    font-weight: 700;
    opacity: 5%;
}

.second-title._about-title {
    position: absolute;
    top: 450px;
    left: 166px;
}

.second-title._knowledge-title {
    font-size: 100px;
    opacity: 90%;
    margin: 40px 25px;
}

.second-title._skills {
    font-size: 60px;
    opacity: 10%;
    margin-bottom: 25px;
    text-align: center;
}

.second-title._projects {
    font-size: 60px;
    color: #000;
    opacity: 10%;
}