.second-title {
    font: 14.4rem "Raleway", sans-serif;
    color: #fff;
    font-style: bold;
    font-weight: 700;
    opacity: 5%;
}

.second-title._about-title {
    position: absolute;
    top: 450px;
    left: 16.6rem;
}

.second-title._knowledge-title {
    font-size: 10rem;
    opacity: 90%;
    margin: 40px 25px;
    transform: translateX(800px);
}

.second-title._skills {
    font-size: 6.0rem;
    opacity: 10%;
    margin-bottom: 25px;
    text-align: center;
    transform: translateX(-800px);
}

.second-title._projects {
    font-size: 6.0rem;
    color: #000;
    opacity: 10%;
}