.sociais-scroll {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(-35deg, #35227a, #7D5CF2, #9d86f1 223%);
    height: 80px;
    border-radius: 0 40px 40px 0;
    padding: 0 50px 0 30px;
    transform: translate(-430px);
    transition: transform 400ms ease-in-out;
}

.sociais-scroll::after {
    content: '';
    box-sizing: border-box;
    border-top: 5px solid #fff;
    border-right: 5px solid #fff;
    height: 30px;
    width: 30px;
    transform: rotate(45deg);
}

.sociais-scroll:hover {
    transform: translate(0px);
}