<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Portfólio strGiorgio">
    <meta name="author" content="Giorgio Álefe">

    <link rel="shortcut icon" href="https://i.imgur.com/IUiGaS8.png" type="image/png">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;800&family=Raleway:wght@400;800&display=swap" rel="stylesheet">

    <title>StrGiorgio Portfólio</title>

    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>


    <link rel="stylesheet" href="css/components/change-idiom.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/responsive.css">
    <link rel="stylesheet" href="css/components/main-header.css">
    <link rel="stylesheet" href="css/components/second-logo.css">
    <link rel="stylesheet" href="css/components/main-action.css">
    <link rel="stylesheet" href="css/components/main-menu.css">
    <link rel="stylesheet" href="css/components/main-section.css">
    <link rel="stylesheet" href="css/components/wrapper-title.css">
    <link rel="stylesheet" href="css/components/main-title.css">
    <link rel="stylesheet" href="css/components/main-logo.css">
    <link rel="stylesheet" href="css/components/main-text.css">
    <link rel="stylesheet" href="css/components/second-arrow.css">
    <link rel="stylesheet" href="css/components/second-title.css">
    <link rel="stylesheet" href="css/components/wrapper-text.css">
    <link rel="stylesheet" href="css/components/wrapper-knowledge.css">
    <link rel="stylesheet" href="css/components/knowledge-items.css">
    <link rel="stylesheet" href="css/components/wrapper-skills.css">
    <link rel="stylesheet" href="css/components/skills-items.css">
    <link rel="stylesheet" href="css/components/third-title.css">
    <link rel="stylesheet" href="css/components/main-progress.css">
    <link rel="stylesheet" href="css/components/wrapper-contacts.css">
    <link rel="stylesheet" href="css/components/main-form.css">
    <link rel="stylesheet" href="css/components/wrapper-form.css">
    <link rel="stylesheet" href="css/components/form-items.css">
    <link rel="stylesheet" href="css/components/main-input.css">
    <link rel="stylesheet" href="css/components/main-label.css">
    <link rel="stylesheet" href="css/components/main-button.css">
    <link rel="stylesheet" href="css/components/projects-styles.css">
    <link rel="stylesheet" href="css/components/wrapper-arrow.css">
    <link rel="stylesheet" href="css/components/main-arrow.css">
    <link rel="stylesheet" href="css/components/main-image.css">
    <link rel="stylesheet" href="css/components/sociais-toggle.css">
    <link rel="stylesheet" href="css/components/main-icons.css">
    <link rel="stylesheet" href="css/components/main-footer.css">
    <link rel="stylesheet" href="css/components/sociais-scroll.css">
    <link rel="stylesheet" href="css/components/animation-scroll.css">
</head>

    

<body>
    <div class="change-idiom">
        <a href="#"><img src="assets/icons/brazil_flags_flag_16979.png" class="icons-standart" alt="Bandeira do Brasil"></a>
        <a href="pageEN.html"><img src="assets/icons/united_states_flags_flag_17080.png" class="icons-standart" alt="Bandeira dos Estados Unidos"></a>
    </div>
    
    <header class="main-header">
        <div class="main-menu" onclick="menuAction()">
            <div class="menu-bar one"></div>
            <div class="menu-bar two"></div>
            <div class="menu-bar three"></div>
        </div>
       
        <div class="wrapper-nav">
            <img class="second-logo" src="assets/images/logoPurple.png" alt="Logo StrGiorgio">
            <nav class="main-nav">
                <a class="main-action" href="#banner" lang="en" onclick="closeMenu()">COMEÇO</a>
                <a class="main-action" href="#about" lang="en" onclick="closeMenu()">SOBRE</a>
                <a class="main-action" href="#knowledge" lang="en" onclick="closeMenu()">CONHECIMENTO</a>
                <a class="main-action" href="#projects" lang="en" onclick="closeMenu()">PROJETOS</a>
                <a class="main-action _contact" href="#contact" lang="en" onclick="closeMenu()">CONTATOS</a>
            </nav>
        </div>
    </header>
    <!--Section Banner-->
    <section id="banner" class="main-section _banner">
        <div class="wrapper-title">
            <img class="image-title" src="assets/images/StrGIORGIO.png" alt="logomarca strGiorgio">
            <h1 class="main-title _degrade">StrGIORGIO</h1>
            <img class="image-title" src="assets/images/StrGIORGIO.png" alt="logomarca strGiorgio">
        </div>
        <img class="main-logo" src="assets/images/logoSemFundo.png" alt="Logo StrGiorgio">
        
        <p class="main-text _text-menu" lang="en">Saiba mais sobre oque eu faço</p>
        <a href="#about"><span class="second-arrow"></span></a>
    </section>
    <!--Section About-->
    <section id="about" class="main-section _about">
        <h2 class="second-title _about-title" lang="en">SOBRE</h2>
        <div class="wrapper-text">
            <p class="main-text _first" lang="en">Ei,<br>Eu sou StrGiorgio,<br>FullStack Developer,</p>
            <p class="main-text _about-text">Tenho 19 anos de idade e programo/estudo a 1 ano 
            mas já tive alguns "encontros" com linguagens de programação muito antes. 
            Atualmente estudante, focando atuar na área de Desenvolvimento Web,
            aprendendo tecnologias como: HTML5, CSS3, JavaScript, Python, ente outros...</p>
        </div>
    </section>
    <!--Section knowledge-->
    <section id="knowledge" class="main-section _knowledge">
        <h2 class="second-title _knowledge-title" lang="en">CONHECIMENTO</h2>
        <div class="wrapper-knowledge">
            <article class="knowledge-items">
                <h3 class="third-title _knowledge">HTML / CSS</h3>
                <p class="main-text _second">Curso concluído de HTML / CSS no site Curso em Video. Conhecimentos em responsividade, animações, psicologia das cores, tipográfia, pseudo-classes, pseudo-elementos e etc.</p>
            </article>

            <article class="knowledge-items">
                <h3 class="third-title _knowledge">Marketing Digital</h3>
                <p class="main-text _second">Fiz um curso de Introdução ao marketing Digital no site do Google Atêlie,
                    na intenção de ter uma certa base sobre SEOs e outro tipos de ferramentas que há na web atualmente.
                </p>
            </article>

            <article class="knowledge-items">
                <h3 class="third-title _knowledge">Algoritmos</h3>
                <p class="main-text _second">Curso concluído em Algoritmos no site curso em video.</p>
            </article>
            
            <article class="knowledge-items">
                <h3 class="third-title _knowledge">Python</h3>
                <p class="main-text _second">Conhecimento intermediário na linguagem Python, usado em criações de pequenos projetos. Conhecimentos em bibliotecas básicas como time, os, system, SQLite3 e Tkinter. Também conhecimento em Programação Orientada a Objeto (POO).
                </p>
            </article>
            <article class="knowledge-items">
                <h3 class="third-title _knowledge">MySQL</h3>
                <p class="main-text _second">Fiz um curso introdutório no site Curso em Video. Conhecimentos básicos em criação de databases, tabelas, colunas e consultas. Conhecimento usado em pequenos projetos.
                </p>
            </article>

            <article class="knowledge-items">
                <h3 class="third-title _knowledge">Selenium</h3>
                <p class="main-text _second">Conhecimento básico em Selenium com python. Conhecimento tal, usado em pequenos projetos de "raspagem de dados" conhecido como web scraping.</p>
            </article>

            <article class="knowledge-items">
                <h3 class="third-title _knowledge">JavaScript/ ES5 / Node</h3>
                <p class="main-text _second">Fiz um curso de JavaScript no site Curso em Video. Onde adquiri conhecimentos sobre ECMAScript5, Node etc.
                    Também conhecimento em Programação Orientada a Objeto (POO). 
                </p>
            </article>

            <article class="knowledge-items">
                <h3 class="third-title _knowledge">VUE.JS</h3>
                <p class="main-text _second">Conhecimento intermediário em VUE.JS, framework de JavaScript. Conhecimento em VUE Router e Vuex.</p>
            </article>

            <article class="knowledge-items">
                <h3 class="third-title _knowledge">BootsTrap / SASS</h3>
                <p class="main-text _second">Conhecimento intermediário em BootsTrap e no pré-processador de css SASS. </p>
            </article>

            <article class="knowledge-items">
                <h3 class="third-title _knowledge">Excel</h3>
                <p class="main-text _second">Fiz um Curso de Introdução em Excel no site Curso em Video, obtive noções basicas de funções etc.
                </p>
            </article>
            <article class="knowledge-items">
                <h3 class="third-title _knowledge">Idiomas</h3>
                <ul class="main-text _second">
                    <li class="main-text _second">Nativo em Português-BR.</li>
                    <li class="main-text _second">Inglês intermediário.</li>
                </ul>
            </article>
        </div>

        <h2 class="second-title _skills">HABILIDADES</h2>
        <div class="wrapper-skills">
            <article class="skills-items">
                <label class="third-title">HTML / CSS</label> 
                <progress class="main-progress html" max="100" value="80">80</progress>
            </article>
            <article class="skills-items">
                <label class="third-title">JavaScript</label> 
                <progress class="main-progress" max="100" value="50">50</progress>
            </article>
            <article class="skills-items">
                <label class="third-title">Python</label> 
                <progress class="main-progress" max="100" value="80">80</progress>
            </article>
            <article class="skills-items">
                <label class="third-title">GIT / GitHub</label> 
                <progress class="main-progress" max="100" value="60">60</progress>
            </article>
            <article class="skills-items">
                <label class="third-title">SQL (MySQL)</label> 
                <progress class="main-progress" max="100" value="70">70</progress>
            </article>
            <article class="skills-items">
                <label class="third-title">Node</label> 
                <progress class="main-progress" max="100" value="40">40</progress>
            </article>
            <article class="skills-items">
                <label class="third-title">VUE.js</label> 
                <progress class="main-progress" max="100" value="60">60</progress>
            </article>
            <article class="skills-items">
                <label class="third-title">Django</label> 
                <progress class="main-progress" max="100" value="30">30</progress>
            </article>
            <!--CASO ADICIONE OUTRA HABILIDADE MUDAR VALOR NO SCRIPT-->
        </div>  
    </section>

    <!--Section Projects-->
    <div class="loading-element"></div>

    <section id="projects" class="main-section _projects">
        <nav>
            <span class="main-arrow _left" onclick="lClick()"></span>
            <span class="main-arrow _right" onclick="rClick()"></span>
        </nav>

        <div class="project-one">
            <div class="desc-project">
                <h1>GITHUB</h1>
                <p>Alguns de meus projetos estão em repositórios remotos no meu github!</p>
                <a href="https://github.com/strGiorgio" target="_blank" class="arrow-project">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-arrow-right-circle" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
                    </svg>
                </a>
            </div>
            <img class="image-project" src="assets/imgsProjects/projectGitHub.png" alt="">
        </div>

        <div class="project-two">
            <div class="desc-project">
                <div class="arrow-slide-top">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-arrow-up-short" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 12a.5.5 0 0 0 .5-.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 .5.5z"/>
                  </svg>
                </div>
                <h1>Projeto Doe</h1>
                <p>O projeto Doe, se trata de um projeto de caridade feito para que pequenos trocos sejam doados. Fazendo assim, com que pessoas que não tem condição de doar grandes valores, contribua!</p>
                <a href="https://strgiorgio.github.io/ProjetoDoe/" target="_blank" class="arrow-project">Saiba mais
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-arrow-right-circle" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
                    </svg>
                </a>
            </div>
            <img class="image-project" src="assets/imgsProjects/projetoDoe.png" alt="">
        </div>

        <div class="project-three">
            <div class="desc-project">
                <h1>PyMob</h1>
                <p>PyMob é um mini-game feito com python, que teve suas outras versões feitas com HTML, CSS, JavaScript e VUE.js</p>
                <a href="https://github.com/strGiorgio/PyMob2.1" target="_blank" class="arrow-project">Jogue Agora
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-arrow-right-circle" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
                    </svg>
                </a>
            </div>
            <div class="alt-desc">
                <p>O projeto foi feito na inteção de aprender e praticar algumas linguagens de programação</p>
            </div>
            <img class="image-project" src="assets/imgsProjects/projetoPymob.png" alt="">
        </div>
    </section>

    <!--Section contacts-->
    <section id="contact" class="main-section _contacts">
        <div class="wrapper-contacts">
            <h2 class="second-title" lang="en">CONTATOS</h2>
            <form class="main-form" action="" >
                <fieldset>
                    <div class="form-items">
                        <label class="main-label" for="name">Nome:</label>
                        <input class="main-input" id="name" type="text" required minlength="2" maxlength="30">
                    </div>
                    <div class="form-items">
                        <label class="main-label" for="email">Email:</label>
                        <input class="main-input" id="email" type="email" required minlength="2" maxlength="38">
                    </div>
                </fieldset>
                <fieldset class="form-items">
                    <label class="main-label" for="textarea">Mensagem:</label>
                    <textarea class="main-input _msg" id="textarea" required minlength="2" maxlength="500"></textarea>   
                </fieldset>
                <button class="main-button" type="submit">ENVIAR</button>
            </form>
        </div>
    </section>

    <section class="sociais-toggle">
        <div class="wrapper-sociais">
            <a href="https://twitter.com/UselessAle" target="_blank" rel="external"><img class="main-icons" src="assets/icons/twitter.png" alt="Logo com link para Twitter"></a>

            <a href="https://github.com/strGiorgio" target="_blank" rel="external"><img class="main-icons" src="assets/icons/github.png" alt="logo com link para github"></a>

            <a href=""><img class="main-icons" src="assets/icons/youtube.png" alt="logo com link para youtube"></a>

            <a href="https://www.instagram.com/aleeefe/" target="_blank" rel="external"><img class="main-icons" src="assets/icons/instagram.png" alt="logo com link para instagram"></a>

            <a href="https://discord.gg/66wzSfrY" target="_blank" rel="external"><img class="main-icons" src="assets/icons/discord.png" alt="logo com link para discord"></a>
        </div>
        <span class="second-arrow" onclick="menuClose()"></span>
    </section>

    <footer class="main-footer">
        <div class="sociais-scroll">
            <div class="wrapper-sociais">
                <a href="https://twitter.com/UselessAle" target="_blank" rel="external"><img class="main-icons" src="assets/icons/twitter.png" alt="Logo com link para Twitter"></a>

                <a href="https://github.com/strGiorgio" target="_blank" rel="external"><img class="main-icons" src="assets/icons/github.png" alt="logo com link para github"></a>

                <a href=""><img class="main-icons" src="assets/icons/youtube.png" alt="logo com link para youtube"></a>

                <a href="https://www.instagram.com/aleeefe/" target="_blank" rel="external"><img class="main-icons" src="assets/icons/instagram.png" alt="logo com link para instagram"></a>

                <a href="https://discord.gg/66wzSfrY" target="_blank" rel="external"><img class="main-icons" src="assets/icons/discord.png" alt="logo com link para discord"></a>
            </div>
        </div>

        <div class="sociais-alt" onclick="menuOpen()">Sociais</div>    

        <p class="main-text _third">strGiorgio &copy; 2021</p>
    </footer>

    <script src="./scripts/components/main-menu.js"></script>
    <script src="./scripts/components/main-projects-script.js"></script>
    <script src="./scripts/components/animation-form.js"></script>
    <script src="./scripts/components/sociais-menu.js"></script>
    <script src="./scripts/components/scroll-animations.js"></script>
</body>
</html>