{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Portfólio strGiorgio">
        <meta name="author" content="Giorgio Álefe">

        <link rel="shortcut icon" href="https://i.imgur.com/IUiGaS8.png" type="image/png">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;800&family=Raleway:wght@400;800&display=swap" rel="stylesheet">

        <title>{{ title }} Portfólio</title>

        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

        <link rel="stylesheet" href="{% static 'css/components/change-idiom.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/reset.css' %}">
        <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
        <link rel="stylesheet" href="{% static 'css/components/main-header.css' %}">
        <link rel="stylesheet" href="{% static 'css/components/second-logo.css' %}">
        <link rel="stylesheet" href="{% static 'css/components/main-action.css' %}">
        <link rel="stylesheet" href="{% static 'css/components/main-menu.css' %}">
        <link rel="stylesheet" href="{% static 'css/components/main-section.css' %}">
        <link rel="stylesheet" href="{% static 'css/components/wrapper-title.css' %}">
        <link rel="stylesheet" href="{% static 'css/components/main-title.css' %}">
        <link rel="stylesheet" href="{% static 'css/components/main-logo.css' %}">
        <link rel="stylesheet" href="{% static 'css/components/main-text.css' %}">
        <link rel="stylesheet" href="{% static 'css/components/second-arrow.css' %}">
        <link rel="stylesheet" href="{% static 'css/components/second-title.css' %}">
        <link rel="stylesheet" href="{% static 'css/components/wrapper-text.css' %}">
        <link rel="stylesheet" href="{% static 'css/components/wrapper-knowledge.css' %}">
        <link rel="stylesheet" href="{% static 'css/components/knowledge-items.css' %}">
        <link rel="stylesheet" href="{% static 'css/components/wrapper-skills.css' %}">
        <link rel="stylesheet" href="{% static 'css/components/skills-items.css' %}">
        <link rel="stylesheet" href="{% static 'css/components/third-title.css' %}">
        <link rel="stylesheet" href="{% static 'css/components/main-progress.css' %}">
        <link rel="stylesheet" href="{% static 'css/components/wrapper-contacts.css' %}">
        <link rel="stylesheet" href="{% static 'css/components/main-form.css' %}">
        <link rel="stylesheet" href="{% static 'css/components/wrapper-form.css' %}">
        <link rel="stylesheet" href="{% static 'css/components/form-items.css' %}">
        <link rel="stylesheet" href="{% static 'css/components/main-input.css' %}">
        <link rel="stylesheet" href="{% static 'css/components/main-label.css' %}">
        <link rel="stylesheet" href="{% static 'css/components/main-button.css' %}">
        <link rel="stylesheet" href="{% static 'css/components/projects-styles.css' %}">
        <link rel="stylesheet" href="{% static 'css/components/wrapper-arrow.css' %}">
        <link rel="stylesheet" href="{% static 'css/components/main-arrow.css' %}">
        <link rel="stylesheet" href="{% static 'css/components/main-image.css' %}">
        <link rel="stylesheet" href="{% static 'css/components/sociais-toggle.css' %}">
        <link rel="stylesheet" href="{% static 'css/components/main-icons.css' %}">
        <link rel="stylesheet" href="{% static 'css/components/main-footer.css' %}">
        <link rel="stylesheet" href="{% static 'css/components/sociais-scroll.css' %}">
        <link rel="stylesheet" href="{% static 'css/components/animation-scroll.css' %}">
    </head>
    <body>
        <div class="change-idiom">
            <a href="#"><img src="{% static 'img/icons/brazil_flags_flag_16979.png' %}" class="icons-standart" alt="Bandeira do Brasil"></a>
            <a href="pageEN.html"><img src="{% static 'img/icons/united_states_flags_flag_17080.png' %}" class="icons-standart" alt="Bandeira dos Estados Unidos"></a>
        </div>
        <!--HEADER-->
        <header class="main-header">
            <div class="main-menu" onclick="menuAction()">
                <div class="menu-bar one"></div>
                <div class="menu-bar two"></div>
                <div class="menu-bar three"></div>
            </div>
        
            <div class="wrapper-nav">
                <img class="second-logo" src="{% static 'img/images/logoPurple.png' %}" alt="Logo StrGiorgio">
                <nav class="main-nav">
                    <a class="main-action" href="#banner" lang="en" onclick="closeMenu()">COMEÇO</a>
                    <a class="main-action" href="#about" lang="en" onclick="closeMenu()">SOBRE</a>
                    <a class="main-action" href="#knowledge" lang="en" onclick="closeMenu()">CONHECIMENTO</a>
                    <a class="main-action" href="#projects" lang="en" onclick="closeMenu()">PROJETOS</a>
                    <a class="main-action _contact" href="#contact" lang="en" onclick="closeMenu()">CONTATOS</a>
                </nav>
            </div>
        </header>

        {% block content %} {% endblock %}

        <script src="{% static 'js/components/main-menu.js' %}"></script>
        <script src="{% static 'js/components/main-projects-script.js' %}"></script>
        <script src="{% static 'js/components/animation-form.js' %}"></script>
        <script src="{% static 'js/components/sociais-menu.js' %}"></script>
        <script src="{% static 'js/components/scroll-animations.js' %}"></script>
    </body>
</html>