<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Portfólio strGiorgio">
    <meta name="author" content="Giorgio Álefe">

    <link rel="shortcut icon" href="https://i.imgur.com/IUiGaS8.png" type="image/png">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;800&family=Raleway:wght@400;800&display=swap" rel="stylesheet">

    <title>StrGiorgio Portfólio</title>

    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/components/main-header.css">
    <link rel="stylesheet" href="css/components/second-logo.css">
    <link rel="stylesheet" href="css/components/main-action.css">
    <link rel="stylesheet" href="css/components/main-section.css">
    <link rel="stylesheet" href="css/components/wrapper-title.css">
    <link rel="stylesheet" href="css/components/main-title.css">
    <link rel="stylesheet" href="css/components/main-logo.css">
    <link rel="stylesheet" href="css/components/main-text.css">
    <link rel="stylesheet" href="css/components/second-arrow.css">
    <link rel="stylesheet" href="css/components/second-title.css">
    <link rel="stylesheet" href="css/components/wrapper-text.css">
    <link rel="stylesheet" href="css/components/wrapper-knowledge.css">
    <link rel="stylesheet" href="css/components/knowledge-items.css">
    <link rel="stylesheet" href="css/components/wrapper-skills.css">
    <link rel="stylesheet" href="css/components/skills-items.css">
    <link rel="stylesheet" href="css/components/third-title.css">
    <link rel="stylesheet" href="css/components/main-progress.css">
    <link rel="stylesheet" href="css/components/main-form.css">
    <link rel="stylesheet" href="css/components/wrapper-form.css">
    <link rel="stylesheet" href="css/components/form-items.css">
    <link rel="stylesheet" href="css/components/main-input.css">
    <link rel="stylesheet" href="css/components/main-label.css">
    <link rel="stylesheet" href="css/components/main-button.css">
    <link rel="stylesheet" href="css/components/main-icons.css">
    <link rel="stylesheet" href="css/components/main-footer.css">
    <link rel="stylesheet" href="css/components/sociais-scroll.css">
    <link rel="stylesheet" href="css/components/wrapper-projects.css">
    <link rel="stylesheet" href="css/components/box-projects.css">
    <link rel="stylesheet" href="css/components/wrapper-arrow.css">
    <link rel="stylesheet" href="css/components/main-arrow.css">
    <link rel="stylesheet" href="css/components/main-image.css">
</head>
<body>
    <header class="main-header">
        <img class="second-logo" src="assets/images/logoPurple.png" alt="Logo StrGiorgio">
        <nav class="main-nav">
            <a class="main-action" href="#banner" lang="en">HOME</a>
            <a class="main-action" href="#about" lang="en">ABOUT ME</a>
            <a class="main-action" href="#knowledge" lang="en">KNOWLEDGE</a>
            <a class="main-action" href="#projects" lang="en">PROJECTS</a>
            <a class="main-action _contact" href="#contact" lang="en">CONTACTS</a>
        </nav>
    </header>
    <!--Section Banner-->
    <section id="banner" class="main-section _banner">
        <div class="wrapper-title">
            <img src="assets/images/StrGIORGIO.png" alt="logomarca strGiorgio">
            <h1 class="main-title _degrade">StrGIORGIO</h1>
            <img src="assets/images/StrGIORGIO.png" alt="logomarca strGiorgio">
        </div>
        <img class="main-logo" src="assets/images/logoSemFundo.png" alt="Logo StrGiorgio">
        
        <p class="main-text _text-menu" lang="en">Learn more about what I do</p>
        <a href="#about"><span class="second-arrow"></span></a>
    </section>
    <!--Section About-->
    <section id="about" class="main-section _about">
        <h2 class="second-title _about-title" lang="en">ABOUT ME</h2>
        <div class="wrapper-text">
        <p class="main-text _first" lang="en">Hey,<br>I'm StrGiorgio,<br>FullStack Developer,</p>
        <p class="main-text">tenho 18 anos de idade e programo/estudo a 5 meses 
           mas já tive alguns "encontros" com linguagens de programação muito antes. 
           Atualmente estudante, focando atuar na área de Desenvolvimento Web,
           aprendendo tecnologias como: HTML5, CSS3, JavaScript e Python.</p>
        </div>
    </section>
    <!--Section knowledge-->
    <section id="knowledge" class="main-section _knowledge">
        <h2 class="second-title _knowledge-title" lang="en">KNOWLEDGE</h2>
        <div class="wrapper-knowledge ">
            <article class="knowledge-items">
                <h3 class="third-title _knowledge">Marketing Digital</h3>
                <p class="main-text _second">Fiz um curso de Introdução ao marketing Digital no site do Google Atêlie,
                    na intenção de ter uma certa base sobre SEOs e outro tipos de ferramentas que há na web atualmente.
                </p>
            </article>
            
            <article class="knowledge-items">
                <h3 class="third-title _knowledge">Python</h3>
                <p class="main-text _second">Conhecimento intermediário na linguagem Python, usado em criações de pequenos projetos. Conhecimentos em bibliotecas básicas como time, os, system, SQLite3 e Tkinter. Também conhecimento em Programação Orientada a Objeto (POO).
                </p>
            </article>
            <article class="knowledge-items">
                <h3 class="third-title _knowledge">MySQL</h3>
                <p class="main-text _second">Feito um curso introdutório no site Curso em Video. Conhecimentos básicos em criação de databases, tabelas, colunas e consultas. Conhecimento usado em pequenos projetos.
                </p>
            </article>
            <article class="knowledge-items">
                <h3 class="third-title _knowledge">Excel</h3>
                <p class="main-text _second">Fiz um Curso de Introdução em Excel no site Curso em Video, obtive noções basicas de funções etc.
                </p>
            </article>
            <article class="knowledge-items">
                <h3 class="third-title _knowledge">Idiomas</h3>
                <ul class="main-text _second">
                    <li class="main-text _second">Nativo em Português-BR.</li>
                    <li class="main-text _second">Inglês intermediário.</li>
                </ul>
                        
                    
                </p>
            </article>

        </div>

        <h2 class="second-title _skills">MY SKILLS</h2>
        <div class="wrapper-skills">
            <article class="skills-items">
                <label class="third-title">HTML / CSS</label> 
                <progress class="main-progress" max="100" value="50">50</progress>
            </article>
            <article class="skills-items">
                <label class="third-title">JavaScript</label> 
                <progress class="main-progress" max="100" value="40">40</progress>
            </article>
            <article class="skills-items">
                <label class="third-title">Python</label> 
                <progress class="main-progress" max="100" value="70">70</progress>
            </article>
            <article class="skills-items">
                <label class="third-title">GIT / GitHub</label> 
                <progress class="main-progress" max="100" value="40">40</progress>
            </article>
            <article class="skills-items">
                <label class="third-title">SQL (MySQL)</label> 
                <progress class="main-progress" max="100" value="40">40</progress>
            </article>
            <article class="skills-items">
                <label class="third-title">SQL (MySQL)</label> 
                <progress class="main-progress" max="100" value="40">40</progress>
            </article>
        </div>  
    </section>
    <!--Section Projects-->
    <section id="projects" class="main-section _projects">
        <nav>
            <span class="main-arrow _left" onclick="lClick()"></span>
            <span class="main-arrow _right" onclick="rClick()"></span>
        </nav>

        <div id="project1" class="wrapper-projects">
            <article class="box-projects _firstP">
                <h3 class="second-title _projects _project2">GitHub</h3>
                <div class="wrapper-img-text">
                    <img class="main-image _project2" src="assets/imgsProjects/project2.png" alt="">
                    <p class="main-text _project1" style="color: #000;">Projetos feitos com Python, HTML5, CSS3 e JavaScript.</p>
                </div>
                <p class="main-text _project2">Alguns dos meus Repositórios no GitHub contém projetos que faço e irei fazer com o tempo. </p>
            </article>

            <article class="box-projects _secondP">
                <h3 class="second-title _projects _project1">PyMob</h3>
                <div class="wrapper-img-text">
                    <img class="main-image _project1" src="assets/imgsProjects/project1.png" alt="Foto do código do mini-game PyMob">
                    <p class="main-text _project1">PyMob é mini-game criado por mim totalmente em python! Ele consiste em uma jogo de mecânica simples, como por exemplos decisões de atacar, ou regenerar. Usa algumas bibliotecas Python para melhor experiência. Atualmente o jogo está na versão 1.0 e pretendo atualiza-lô até a versão 5.0.</p>
                </div>
                <img class="main-image _project1" src="assets/imgsProjects/project1-2.png" alt="">
            </article>

            <article class="box-projects _thirdP">
                <h3 class="second-title _projects _project1">Others Projects</h3>
                    <div><img src="" alt=""></div>
                <p class="main-text _project1">Em construção.</p>
            </article>
        </div>
        
    </section>
    <!--Section contacts-->
    <section id="contact" class="main-section _contacts">
        <h2 class="second-title" lang="en">CONTACTS</h2>
        <form class="main-form" action="" >
            <fieldset>
                <div class="form-items">
                    <label class="main-label" for="name">Nome:</label>
                    <input class="main-input" id="name" type="text" required minlength="2" maxlength="30">
                </div>
                <div class="form-items">
                    <label class="main-label" for="email">Email:</label>
                    <input class="main-input" id="email" type="email" required minlength="2" maxlength="38">
                </div>
            </fieldset>
            <fieldset class="form-items">
                <label class="main-label" for="textarea">Mensagem:</label>
                <textarea class="main-input _msg" id="textarea" required minlength="2" maxlength="500"></textarea>   
            </fieldset>
            <button class="main-button" type="submit">ENVIAR</button>
        </form>
    </section>

    <footer class="main-footer">
        <div class="sociais-scroll">
            <div class="wrapper-sociais">
                <a href="https://twitter.com/UselessAle" target="_blank" rel="external"><img class="main-icons" src="assets/icons/twitter.png" alt="Logo com link para Twitter"></a>

                <a href="https://github.com/strGiorgio" target="_blank" rel="external"><img class="main-icons" src="assets/icons/github.png" alt="logo com link para github"></a>

                <a href=""><img class="main-icons" src="assets/icons/youtube.png" alt="logo com link para youtube"></a>

                <a href="https://www.instagram.com/aleeefe/" target="_blank" rel="external"><img class="main-icons" src="assets/icons/instagram.png" alt="logo com link para instagram"></a>

                <a href="https://discord.gg/66wzSfrY" target="_blank" rel="external"><img class="main-icons" src="assets/icons/discord.png" alt="logo com link para discord"></a>
            </div>
        </div>
        <p class="main-text _third">strGiorgio© 2021</p>
    </footer>

    <script src="scripts/components/main-projects-script.js"></script>
    <script src="scripts/components/animation-form.js"></script>
</body>
</html>