{% load static %}
<!--Section contacts-->
<section id="contact" class="main-section _contacts">
    <div class="wrapper-contacts">
        <h2 class="second-title">CONTATOS</h2>
        <form class="main-form" action="" method="post">
            {% csrf_token %}
            <fieldset>
                <div class="form-items">
                    <label class="main-label" for="name">Nome:</label>
                    <input class="main-input" id="name" name="name">
                </div>
                <div class="form-items">
                    <label class="main-label" for="email">Email:</label>
                    <input class="main-input" id="email" name="email">
                </div>
            </fieldset>
            <fieldset class="form-items">
                <label class="main-label" for="subject">Assunto:</label>
                <input class="main-input" id="subject" name="subject">

                <label class="main-label" for="textarea">Mensagem:</label>
                <textarea class="main-input _msg" id="textarea" name="message"></textarea>   
            </fieldset>
            <button class="main-button" type="submit">ENVIAR</button>
        </form>
    </div>
    
</section>