{% load static %}
<!--Section Banner-->
<section id="banner" class="main-section _banner">
    <div class="wrapper-title">
        <img class="image-title" src="{% static 'img/images/StrGIORGIO.png' %}" alt="logomarca strGiorgio">
        <h1 class="main-title _degrade">StrGIORGIO</h1>
        <img class="image-title" src="{% static 'img/images/StrGIORGIO.png' %}" alt="logomarca strGiorgio">
    </div>
    <img class="main-logo" src="{% static 'img/images/logoSemFundo.png' %}" alt="Logo StrGiorgio">
    
    <p class="main-text _text-menu" lang="en">Saiba mais sobre oque eu faço</p>
    <a href="#about"><span class="second-arrow"></span></a>
</section>